---
layout: default
---

<div class="home container">
  
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.articles.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "" }}</h2>
    <!-- Debut de la liste -->
    <ul class="post-list">
      <!-- Debut de boucle -->
      {%- for post in site.articles -%}
      <!-- Carte -->
      <li class="card">
        <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span> -->
        <!-- <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          
        </h3> -->
        <div class="content">
          {{ post.content }}
        </div>        
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      <!-- Fin carte -->
      {%- endfor -%}
      <!-- Fin de boucle -->
    </ul>

    
  {%- endif -%}
</div>